{% extends 'base.html.twig' %}

{% block title %}YUMMY !
{% endblock %}

{% block body %}

	<section class="featured">
		<div class="container featured__container">
			<h2>Recette du jour</h2>
		</div>
	</section>

	<section class="latest">
		<div class="container latest__container">
			<h2>Les dernières recettes</h2>
		</div>
	</section>

    <section class="favorites">
		<div class="container favorites__container">
			<h2>Top recettes</h2>
		</div>
	</section>    

{% endblock %}
