<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<!--FAVICON -->
		<link rel="shortcut icon" href="{{ asset('images/favicon.png') }}" type="image/x-icon">		
		<!--ICONSCOUT CDN -->
		<link
		rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
		<!-- GOOGLE FONTS (POPPINS) -->
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% include 'parts/navbar.html.twig' %}
		{% block body %}{% endblock %}
		{% include 'parts/footer.html.twig' %}
	</body>
</html>
